<!DOCTYPE html>
<html>
<body>
    <div class="container-fluid" style="background-color:white; font-family: 'Raleway', sans-serif; position:unset;bottom: 0px;">
        <div class="container" style="background-color:white;">
            <div class="row" >
                <div class="col-md-6">
                    <h6>The awards for design,creativity and innovation on the internet</h6>
                </div>
                <div class="col-md-6" style="text-align:right;">
                    <h6>Next Conference <u><strong>NewYork</strong></u> and <u><strong>Amsterdam</strong> </u></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="padding-top:30px;">
                    <h6>Directory Jobs Contact Us Cookies Policy Legal Terms Privacy Policy</h6>
                </div>
                <div class="col-md-12" style="padding-top:30px;">
                    <h6>Private Cloud by <strong>Stackscale</strong></h6>
                </div>
            </div>
        </div>
    </div>
</body>

</html>